
.btn {
    height: 100%;
    padding: 0.5rem;
    border: 2px solid #200d69;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #200d69;
}

    .btn:hover {
        background-color: #3e269a
    }
