@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Server



<div class="addmanager-modal-container yappear">
    <div class="addmanager-modal-wrap">
        <div class="addmanager-modal-title">
            매니저 조회
        </div>
        <Input Placeholder="Search" />
        <div class="addmanager-modal-item">
            <List DataList="@placeManagerList" />
        </div>
        @* <div class="addmanager-modal-content">
            
            
        </div> *@
        <button class="addmanager-modal-btn" @onclick="ModalClose">
            확인
        </button>
    </div>
    
</div>


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Content { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    List<PlaceManagerDTO> PlaceManagerList;
    List<object> placeManagerList;
    List<string> properties;
    public HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        /*
         * 현재 매니저 목록 조회 Fetch Get
         */
        ResponseObj<PlaceManagerDTO> res = await httpClient.GetFromJsonAsync<ResponseObj<PlaceManagerDTO>>("http://127.0.0.1:5245/api/Admin/allManager");


        // PlaceManagerList = new List<PlaceManagerDTO>
        // {
        //     new PlaceManagerDTO
        //     {
        //         ID = "test1",
        //         NAME = "홍길동",
        //         DEPARTMENT = "시스템개발파트"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test2",
        //         NAME = "최유진",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        //     new PlaceManagerDTO
        //     {
        //         ID = "test3",
        //         NAME = "구동매",
        //         DEPARTMENT = "대한민국"
        //     },
        // };

        // placeManagerList = PlaceManagerList.Cast<object>().ToList();
        // properties = typeof(PlaceManagerDTO).GetProperties().Select(p => p.Name).ToList();
    }

    private Task ModalClose(){
        return OnClose.InvokeAsync(false);
    }
}
