@using FamTec.Shared.Client.DTO

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<div class="managerlist-container">
    <div class="managerlist-wrap">
        <div class="managerlist-header">
            <span>
                매니저 목록
            </span>
            <div class="managerlist-btns">
                <Button Name="등록" OnClick="@OnSignUp" />
                <Button Name="삭제" />
            </div>
            
        </div>
        <div class="managerlist-list">
            <Table DataList="DataList" />
        </div>
    </div>
</div>

@code {
    [Parameter] public List<ManagerDTO> DataList { get; set; }

    protected async override Task OnInitializedAsync()
    {
        foreach(var i in DataList)
        {
            Console.WriteLine(i.Name);
        }
        
    }

    private void OnSignUp()
    {
        Navigation.NavigateTo("/admin/manager/signup");
    }

}
