@page "/admin/manager"
<<<<<<< HEAD:FamTec/FamTec/Client/Pages/Admin/Manager/ManagerMain/Manager.razor
@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO;
=======
@using FamTec.Client.Pages.Manager.Components
>>>>>>> Temp:FamTec/FamTec/Client/Pages/Manager/Manager.razor
@using FamTec.Shared.Model
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO.Admin
@using FamTec.Shared.Server.DTO.Admin.Place


<div class="grid-layout">
    <div class="depart">
        <Department />
    </div>
    <div class="managerlist">
        <ManagerList DataList="@managerList" />
    </div>
</div>

@code {
    HttpClient httpClient = new HttpClient();
    List<DepartmentDTO> departmentList;
    List<object> DepartmentList;

    List<ManagerListDTO> managerList;


    protected override async Task OnInitializedAsync()
    {
        ResponseObj<DepartmentDTO> resDepartment = await httpClient.GetFromJsonAsync<ResponseObj<DepartmentDTO>>("http://127.0.0.1:5245/api/Department/GetDepartmentList");
        departmentList = resDepartment.data;
        
        ResponseObj<ManagerListDTO> resManager = await httpClient.GetFromJsonAsync<ResponseObj<ManagerListDTO>>("http://127.0.0.1:5245/api/AdminPlace/GetAllManagerList");

        managerList = resManager.data;

    }
}
