@page "/admin/manager"

@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO;
@using FamTec.Shared.Model
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO
@inject HttpClient HttpClient


<div class="grid-layout yappear">
    <div class="depart">
        <Department/>
    </div>
    <div class="managerlist">
        <ManagerList/>
    </div>
</div>

@code {



    protected override async Task OnInitializedAsync()
    {

    }
}
