
.input-container[b-5me8bdej3g] {
    outline: none;
    width: auto;
    border: 2px solid #200d69;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #200d69;
    background-color:#ebe7fe
}

[b-5me8bdej3g]::placeholder {
    color: #200d69;
}
