@using FamTec.Client.Pages.Admin.CommonComponents
@using FamTec.Shared.Client.DTO
﻿
@using FamTec.Shared.Server

@inject HttpClient HttpClient

<div class="placetable-container">
    <div class="placetable-title">
        <span>
            사업장 목록
        </span>
        <Input Placeholder="search" ValueChanged="OnSearchTextChanged" />
    </div>
    <div class="placetable-table">
        <Table DataList="FilterPlaceList" Select="OnSelected" />
    </div>
    <div class="placetable-count">
        <span>
            선택 : @SelectCount
        </span>
    </div>
</div>

@code {
    [Parameter] public AddManagerDTO NewManager { get; set; }
    List<PlaceTableDTO> PlaceList;
    int SelectCount = 0;

    //검색 변수
    List<PlaceTableDTO> FilterPlaceList = new List<PlaceTableDTO>();
    string searchText = string.Empty;


    protected async override Task OnInitializedAsync()
    {
        ResponseObj<PlaceTableDTO> res = await HttpClient.GetFromJsonAsync<ResponseObj<PlaceTableDTO>>("http://127.0.0.1:5245/api/AdminPlace/GetAllWorksList");
        PlaceList = res.data;
        PlaceList.RemoveAll(place => place.Status == 0);
        FilterPlaceList = PlaceList;
    }

    /*
    * 부서 선택
    */
    public void OnSelected((bool isCheck, int id) selection)
    {
        if (NewManager == null)
        {
            Console.WriteLine("dd");
        }
        Console.WriteLine("부서 체크 여부" + selection.isCheck);
        if (!selection.isCheck)
        {
            NewManager.PlaceList.Remove(selection.id);
            SelectCount--;
        }
        else
        {
            Console.WriteLine("추가함");
            NewManager.PlaceList.Add(selection.id);
            SelectCount++;
        }
        
    }

      /*
     * 검색 데이터 필터링
    */
    private void OnSearchTextChanged(string text)
    {
        // searchText = e.Value.ToString();
        searchText = text;
        FilterPlaceList = string.IsNullOrEmpty(searchText)
            ? PlaceList
            : PlaceList.Where(p => p.Name.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                                   p.PlaceCd.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                                   p.ContractNum.Contains(searchText, StringComparison.OrdinalIgnoreCase))
                        .ToList();
    }

}
