@page "/admin/manager"
@using FamTec.Client.Pages.Manager.Components



<div class="grid-layout">
    <div class="depart">
        <DepartmentList />
    </div>
    <div class="managerlist">
        <ManagerList />
    </div>
</div>

@code {

}
