@using System;


<div class="drawer-container">
    <ul class="drawer-wrap">
        @foreach (var category in CategoryList)
        {
            <li class="drawer-item">
                <NavLink class="drawer-link"
                         href="@(category.Url != null ? category.Url : null)"
                         @onclick="() => ToggleDropdown(category)">
                    <span class="category-title">@category.Name</span>
                    @if (category.SubCategory != null)
                    {
                        <span class="arrow">∨</span>
                    }
                </NavLink>

                @if (category.SubCategory != null)
                {
                    <ul class="drawer-sub-wrap @(category.IsDropDown ? "active" : null)">
                        @foreach (var subcategory in category.SubCategory)
                        {
                            <li class="drawer-sub-item">
                                <NavLink class="drawer-link">
                                    @subcategory.Name
                                </NavLink>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>


@code {

    public class Category
    {
        public string? Name { get; set; }
        public string? Url { get; set; }
        public List<Category>? SubCategory { get; set; }
        public bool IsDropDown { get; set; } = false;
        public string? SvgImgUrl { get; set; }
    }

    List<Category> CategoryList = new List<Category>
    {
        new Category
        {
            Name="사업장 관리",
            Url = "/admin/place",
        },
        new Category
        {
            Name="매니저 관리",
            Url = "/admin/manager",
        },
        new Category
        {
            Name="사업장 통계",
            Url = "/admin/stats",
        },
    };

    /*
     * 드롭다운 기능
     */

    void ToggleDropdown(Category category)
    {
        Console.WriteLine("동작");
        category.IsDropDown = !category.IsDropDown;
    }

}