@using FamTec.Client.Pages.Admin.CommonComponents


<div class="placeform-container">
    <div class="placeform-title">
        <span>
            사업장 정보
        </span>
    </div>
    <div class="placeform-info">
        <InputField Label="사업장 코드" />
        <InputField Label="사업장명"/>
        <InputField Label="전화번호" />
        <InputField Label="계약번호"/>
        <InputField Label="계약일자" InputType="date"/>
        <InputField Label="해약일자" InputType="date" />
        <InputField Label="계약상태" />
        <InputField Label="비고" />
    </div>
</div>

@code {

}
