@page "/place"

@using FamTec.Shared.Client.DTO
@using FamTec.Client.Pages.Place.Components

<div class="place-container">
    <Table Title="사업장 목록" Properties="@properties" DataList="@placeList"/>
</div>

@code {
    List<PlaceDTO> PlaceList;
    List<string> properties;
    List<object> placeList;

    protected override async Task OnInitializedAsync()
    {
        /*
        * db 데이터 dto 객체
        */
        PlaceList = new List<PlaceDTO>
        {
            new PlaceDTO
            {
                사업장코드 = "P001",
                사업장명 = "강남우체국",
                비고 = null,
                계약번호 = "11111111",
                계약일자 = new DateTime(2023,3,8),
                계약상태 = "계약",
                IsSelect= false
            },
            new PlaceDTO
            {
                사업장코드 = "P002",
                사업장명 = "강남우체국",
                비고 = null,
                계약번호 = "22222222",
                계약일자 = new DateTime(2023,3,15),
                계약상태 = "계약",
                IsSelect= false
            },
            new PlaceDTO
            {
                사업장코드 = "P003",
                사업장명 = "강남우체국",
                비고 = null,
                계약번호 = "33333333",
                계약일자 = new DateTime(2023,8,8),
                계약상태 = "계약",
                IsSelect= false
            },
            new PlaceDTO
            {
                사업장코드 = "P004",
                사업장명 = "강남우체국",
                비고 = null,
                계약번호 = "44444444",
                계약일자 = new DateTime(2023,10,8),
                계약상태 = "계약",
                IsSelect= false
            },
            new PlaceDTO
            {
                사업장코드 = "P005",
                사업장명 = "강남우체국",
                비고 = null,
                계약번호 = "55555555",
                계약일자 = new DateTime(2023,11,8),
                계약상태 = "계약",
                IsSelect= false
            }
        };

        placeList = PlaceList.Cast<object>().ToList();
        properties = typeof(PlaceDTO).GetProperties().Select(p => p.Name).ToList();
    }

    /*
     * Add to List<PlaceDTO>SelectList when Active Checkbox
     */
    public void OnSelected(object row)
    {
        Console.WriteLine(row);
    }
}
