/* /Pages/Place/Components/AddModal.razor.rz.scp.css */

.placemodal-backgroud[b-nooberi9xj] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: #a9a9a9b2
}


.placemodal-backgroud .placemodal-container[b-nooberi9xj] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height:max-content;
    
    border-radius:4px;
    gap:1rem;
}

.placemodal-backgroud .placemodal-wrap[b-nooberi9xj] {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    padding: 1.2rem;
    border-radius: 4px;
    border: 4px solid #200d69;

    background-color: #ffffff;
}

.placemodal-backgroud .placemodal-title[b-nooberi9xj] {
    font-size: 1.1rem;
    font-weight: bold;
    color: #200d69;
}


.placemodal-backgroud .placemodal-content[b-nooberi9xj] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.placemodal-backgroud .modal-btn[b-nooberi9xj] {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #200d69;
    color: #ffffff;
}


.placemodal-backgroud .placemodal-manager[b-nooberi9xj] {
    display: flex;
    flex-direction: column;
    border: 2px solid #200d69;
    border-radius: 4px;
}

.placemodal-backgroud .placemodal-m-header[b-nooberi9xj] {
    display: flex;
    justify-content: space-between;
    /*align-content: center;*/
    padding: 0.8rem;
    border-bottom: 2px solid #200d69;
}

.placemodal-backgroud .placemodal-m-title[b-nooberi9xj] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #200d69;
}
/* /Pages/Place/Components/Button.razor.rz.scp.css */

.btn[b-4uel3ea6go] {
    height: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #200d69;
}

    .btn:hover[b-4uel3ea6go] {
        background-color: #3e269a
    }
/* /Pages/Place/Components/Input.razor.rz.scp.css */

.input-container[b-uz0arryk9b] {
    outline: none;
    width: auto;
    border: 2px solid #200d69;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #200d69;
    background-color:#ebe7fe
}

[b-uz0arryk9b]::placeholder {
    color: #200d69;
}
/* /Pages/Place/Components/InputField.razor.rz.scp.css */
.inputfield-container[b-ttnj8zi7mu] {
    display: grid;
    grid-template-columns: 10rem auto max-content;
    grid-template-areas: "label input btn";
    width: 100%;
}

.inputfield-container .inputfield-label[b-ttnj8zi7mu]{
    
    grid-area:label;
    place-self: center;
    padding: 0.5rem 0 ;
     

    width : 100%;
    font-weight:bold;
    font-size:0.8rem;
}


.inputfield-container .inputfield-input[b-ttnj8zi7mu]{
    grid-area : input;
    place-self: center;

    width : 100%;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid #c6c6c6;
}

.inputfield-container .inputfield-input[b-ttnj8zi7mu]{
    border-bottom: 2px solid #200d69;
}

.inputfield-container .btn[b-ttnj8zi7mu]{
    grid-area: btn ;

    font-size: 0.7rem;
    background-color: #200d69;
    color: #ffffff;
    
    border: none;
    border-radius: 4px;
    padding: 0 0.5rem;;
}

.inputfield-container .btn:hover[b-ttnj8zi7mu]{
    background-color: #3e269a;
}

/* /Pages/Place/Components/List.razor.rz.scp.css */
body[b-nmmoxrmmox] {
}
/* /Pages/Place/Components/SearchManagerModal.razor.rz.scp.css */

.addmanager-modal-container[b-efhhydlwqt] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 692.34px;
    background-color: white;
    border-radius: 4px;
    border: 4px solid #200d69;
    transition: all 0.5s ease-in-out;
}

.addmanager-modal-container .addmanager-modal-wrap[b-efhhydlwqt]{
    display : flex;
    flex-direction : column;
    justify-content:space-between;
    /*align-items:center;*/

    gap : 1rem;

    width:100%;
    height:100%;
    padding : 1.2rem;
}

.addmanager-modal-container .addmanager-modal-content[b-efhhydlwqt]{
    display:flex;
    height:100%;
    flex-direction:column;
    gap:1rem;
}

.addmanager-modal-container .addmanager-modal-table[b-efhhydlwqt]{
    height:80%;
    border-radius:4px;
    border : 2px solid #200d69;
    overflow: scroll;
    
}

.addmanager-modal-container .addmanager-modal-title[b-efhhydlwqt]{
    font-size : 1.1rem;
    font-weight : bold;
    color : #200d69;

}

.addmanager-modal-container .addmanager-modal-btn[b-efhhydlwqt] {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;

    font-size: 0.8rem;
    font-weight: bold;
    background-color: #200d69;
    color: #ffffff;
}
/* /Pages/Place/Components/Table.razor.rz.scp.css */
.table-container[b-650edo8kke] {

    width:100%;
    /*border:2px solid #200d69;
    border-radius : 4px;*/
}
/*헤더 분리*/
/*.table-container .table-wrap{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}*/

.table-container .table[b-650edo8kke]{
    table-layout:auto;
    width:100%;
    padding : 0.8rem;
}

.table-container .thead[b-650edo8kke]{
    width:auto;
}
.table-container .thead-tr[b-650edo8kke]{
    background-color:#200d69;
}

.table-container .thead-th[b-650edo8kke]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
}


.table-container .tbody-tr[b-650edo8kke]{
    border-bottom : 1px solid #200d694a;
}

/*.table-container .tbody-tr:nth-last-of-type(n+2){
    border-bottom : 2px solid #200d694a;
}*/
.table-container .tbody-tr[b-650edo8kke]{
    
}

.table-container .tbody-tr:hover td[b-650edo8kke]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-650edo8kke]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
/* /Pages/Place/Components/Tableheaderbody.razor.rz.scp.css */
.table-container[b-8a2rucpdog] {
    display: flex;

    width:100%;
    border:2px solid #200d69;
    border-radius : 4px;
}

.table-container .table-wrap[b-8a2rucpdog]{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header[b-8a2rucpdog]{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title[b-8a2rucpdog]{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}

.table-container .table[b-8a2rucpdog]{
    table-layout:fixed;
    width:100%;
    padding : 0.8rem;
}


.table-container .thead-tr[b-8a2rucpdog]{
    background-color:#200d69;
    
}

.table-container .thead-th[b-8a2rucpdog]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
}


.table-container .tbody-tr:nth-last-of-type(n+2)[b-8a2rucpdog]{
    border-bottom : 2px solid #200d694a;
}

.table-container .tbody-tr[b-8a2rucpdog]{
    
}

.table-container .tbody-tr:hover td[b-8a2rucpdog]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-8a2rucpdog]{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
/* /Pages/Place/Place.razor.rz.scp.css */
.place-container .place-table1-wrap[b-07vnvgmtv7] {
    display: flex;
    flex-direction: column;
    width: 100%;
    border:2px solid #200d69;
    border-radius : 4px;
}

.place-container .table-header[b-07vnvgmtv7] {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.8rem;
    border-bottom: 2px solid #200d69;
}

.place-container .table-header-title[b-07vnvgmtv7] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #200d69;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-7s48qd2tqg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7s48qd2tqg] {
    flex: 1;
}

.sidebar[b-7s48qd2tqg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-7s48qd2tqg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7s48qd2tqg]  a, .top-row[b-7s48qd2tqg]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-7s48qd2tqg]  a:hover, .top-row[b-7s48qd2tqg]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-7s48qd2tqg]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7s48qd2tqg] {
        display: none;
    }

    .top-row.auth[b-7s48qd2tqg] {
        justify-content: space-between;
    }

    .top-row[b-7s48qd2tqg]  a, .top-row[b-7s48qd2tqg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7s48qd2tqg] {
        flex-direction: row;
    }

    .sidebar[b-7s48qd2tqg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7s48qd2tqg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-7s48qd2tqg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-7s48qd2tqg], article[b-7s48qd2tqg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wqqoxqzzwa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-wqqoxqzzwa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wqqoxqzzwa] {
    font-size: 1.1rem;
}

.oi[b-wqqoxqzzwa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-wqqoxqzzwa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wqqoxqzzwa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wqqoxqzzwa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wqqoxqzzwa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-wqqoxqzzwa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-wqqoxqzzwa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wqqoxqzzwa] {
        display: none;
    }

    .collapse[b-wqqoxqzzwa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-wqqoxqzzwa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
