.table-container[b-650edo8kke] {
    overflow: auto;
    width: 100%;
    /*border:2px solid #200d69;
    border-radius : 4px;*/
}
/*헤더 분리*/
/*.table-container .table-wrap{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}*/

.table-container .table[b-650edo8kke]{
    table-layout:auto;
    width:100%;
    padding : 0.8rem;

    
}

.table-container .thead[b-650edo8kke]{
    position: sticky;
    top:0;

    width:auto;
}
.table-container .thead-tr[b-650edo8kke]{
    background-color:#200d69;
}

.table-container .thead-th[b-650edo8kke]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
}

.table-container .tbody[b-650edo8kke]{
    
    
}

.table-container .tbody-tr[b-650edo8kke]{
    border-bottom : 1px solid #200d694a;
}

/*.table-container .tbody-tr:nth-last-of-type(n+2){
    border-bottom : 2px solid #200d694a;
}*/
.table-container .tbody-tr[b-650edo8kke]{
    
}

.table-container .tbody-tr:hover td[b-650edo8kke]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-650edo8kke]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
