@using FamTec.Client.Pages.Manager.Components.Common
@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Server
@inject HttpClient HttpClient

<div class="modaldepart-container">
    <div class="modaldepart-wrap">
        <div class="modaldepart-title">
            <span>
                부서 편집
            </span>
        </div>
        <div class="modaldepart-body">
            <div class="modaldepart-list">
                <DepartmentList DataList="departmentList" Edit=true />
            </div>
            <div class="modaldepart-btns">
                <Button Name="수정" />
                <Button Name="삭제"/>
            </div>
        </div>
        <div class="modaldepart-add">
            <span>부서 추가</span>
            <EditForm Model="newDepartment" OnValidSubmit="AddDepartment">
                <div class="modaldepart-input">

                        <Input Type="text" Placeholder="부서명" @bind-Value="newDepartment.Name"/>
                        <Button Name="추가" />
                </div>
            </EditForm>
        </div>
        <Button Name="확인" OnClick="@ModalClose" />
    </div>

</div>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    // HttpClient httpClient = new HttpClient();
    List<DepartmentDTO> departmentList;
    AddDepartment newDepartment = new AddDepartment();


    protected override async Task OnInitializedAsync()
    {
        await LoadDepartments();

    }


    private async Task LoadDepartments()
    {
        try
        {
            ResponseObj<DepartmentDTO> resDepartment = await HttpClient.GetFromJsonAsync<ResponseObj<DepartmentDTO>>("http://127.0.0.1:5245/api/Admin/alldepartment");
            departmentList = resDepartment.data;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading departments: {ex.Message}");
        }
    }

    private Task ModalClose()
    {
        return OnClose.InvokeAsync(false);
    }

    private async Task AddDepartment()
    {
        Console.WriteLine(newDepartment.Name == null);
        if (newDepartment.Name == null)
        {
            Console.WriteLine("입력된 값이 없습니다.");
        }
        else
        {
            HttpResponseMessage res = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/Admin/adddepartment", newDepartment);
            Console.WriteLine(res);

            if (res.IsSuccessStatusCode)
            {
                await LoadDepartments();
                newDepartment = new AddDepartment();
            }
            else
            {
                Console.WriteLine("부서 추가 에러");
            }
        }
        
    }

}
