@page "/admin/manager"
@using FamTec.Client.Pages.Admin.Manager.Components
@using FamTec.Shared.Client.DTO;
@using FamTec.Shared.Model
@using FamTec.Shared.Server


<div class="grid-layout">
    <div class="depart">
        <Department />
    </div>
    <div class="managerlist">
        <ManagerList DataList="@managerList" />
    </div>
</div>

@code {
    HttpClient httpClient = new HttpClient();
    List<DepartmentDTO> departmentList;
    List<object> DepartmentList;

    List<ManagerDTO> managerList;


    protected override async Task OnInitializedAsync()
    {
        ResponseObj<DepartmentDTO> resDepartment = await httpClient.GetFromJsonAsync<ResponseObj<DepartmentDTO>>("http://127.0.0.1:5245/api/Admin/alldepartment");
        departmentList = resDepartment.data;
        // ResponseObj<AdminTb> resManager = await httpClient.GetFromJsonAsync<ResponseObj<AdminTb>>("http://127.0.0.1:5245/api/Admin/allmanager");
        ResponseObj<ManagerDTO> resManager = await httpClient.GetFromJsonAsync<ResponseObj<ManagerDTO>>("http://127.0.0.1:5245/api/Admin/allmanager");
        
        managerList = resManager.data;

    }
}
