@using FamTec.Client.Pages.Admin.CommonComponents
@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Server
@inject HttpClient HttpClient

<div class="modaldepart-container yappear">
    <div class="modaldepart-wrap">
        <div class="modaldepart-title">
            <span>
                부서 편집
            </span>
        </div>
        <div class="modaldepart-body">
            <div class="modaldepart-list">
                <DepartmentList 
                    DataList="departmentList" 
                    Edit=true 
                    Select="OnSelected"
                    />
            </div>
            <div class="modaldepart-btns">
                <Button Name="수정" />
                <Button Name="삭제" OnClick="DeleteDepartment" />
            </div>
        </div>
        <div class="modaldepart-add">
            <span>부서 추가</span>
            <EditForm Model="newDepartment" OnValidSubmit="AddDepartment">
                <div class="modaldepart-input">

                        <Input Type="text" Placeholder="부서명" @bind-Value="newDepartment.Name"/>
                        <Button Name="추가" />
                </div>
            </EditForm>
        </div>
        <Button Name="확인" OnClick="@ModalClose" />
    </div>

</div>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public EventCallback OnListSync{ get; set; }


    // HttpClient httpClient = new HttpClient();
    List<DepartmentDTO> departmentList;
    AddDepartment newDepartment = new AddDepartment();
    List<int> deleteDepartment = new List<int>();


    protected override async Task OnInitializedAsync()
    {
        await LoadDepartments();

    }

    /*
    * (GET) 부서 전체 조회
    */
    private async Task LoadDepartments()
    {
        try
        {
            ResponseObj<DepartmentDTO> resDepartment = await HttpClient.GetFromJsonAsync<ResponseObj<DepartmentDTO>>("http://127.0.0.1:5245/api/Admin/alldepartment");
            departmentList = resDepartment.data;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading departments: {ex.Message}");
        }
    }

    /*
    * (DELETE) 부서 삭제
    */
    private async Task DeleteDepartment()
    {
        try
        {
            HttpResponseMessage resDelete = await HttpClient.PutAsJsonAsync("http://127.0.0.1:5245/api/Admin/deletedepartment",deleteDepartment);
            if (resDelete.IsSuccessStatusCode)
            {
                await LoadDepartments();
                await OnListSync.InvokeAsync();
                newDepartment = new AddDepartment();
            }
            else
            {
                Console.WriteLine("부서 추가 에러");
            }
            
            Console.WriteLine(resDelete);
        }
        catch(Exception ex)
        {
            Console.WriteLine($"[Client][ModalDepartment] 부서 삭제 에러 : {ex.Message}");
            
        }
    }

    /*
    * 모달 닫기
    */
    private Task ModalClose()
    {
        return OnClose.InvokeAsync(false);
    }

    /*
    * (POST)부서 추가
    */
    private async Task AddDepartment()
    {
        Console.WriteLine(newDepartment.Name == null);
        if (newDepartment.Name == null)
        {
            Console.WriteLine("입력된 값이 없습니다.");
        }
        else
        {
            HttpResponseMessage res = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5245/api/Admin/adddepartment", newDepartment);
            Console.WriteLine(res);

            if (res.IsSuccessStatusCode)
            {
                await LoadDepartments();
                await OnListSync.InvokeAsync();
                newDepartment = new AddDepartment();
            }
            else
            {
                Console.WriteLine("부서 추가 에러");
            }
        }

    }

    /*
    * 부서 선택
    */
    public void OnSelected((bool isCheck, int id) selection)
    {
        Console.WriteLine("부서 체크 여부"+ selection.isCheck);
        if (!selection.isCheck)
        {
            deleteDepartment.Remove(selection.id);
        }
        else
        {
            deleteDepartment.Add(selection.id);
            
        }
    }

}
