.placetable-container[b-l8zwn7uflk] {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap:0.8rem;
}

.placetable-container .placetable-title[b-l8zwn7uflk]{
    font-size : 1.2rem;
    font-weight : bold;

    padding:0.75rem;

    border-bottom : 2px solid #200d69;
}
.placetable-container .placetable-title > span[b-l8zwn7uflk] {
    color: #200d69;
}

.placetable-container .placetable-table[b-l8zwn7uflk] {
    height:100%;
    overflow:auto;
}
.placetable-container .placetable-count[b-l8zwn7uflk]{

    border-radius : 4px;
    padding : 0.75rem;
    
    
    font-size : 0.8rem;
    font-weight : bold;

    background-color : #200d69;

}
.placetable-container .placetable-count>span[b-l8zwn7uflk]{
    color:#ffffff;
}
