.depart-list[b-12skg9xcaj] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
   
}

.depart-list .depart-item[b-12skg9xcaj] {
    display: flex;
    justify-content:space-between;
    width:100%;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.depart-list .depart-item:hover[b-12skg9xcaj] {
    transition: all ease-in-out 0.2s;
    background-color: #200d69;
}

.depart-list .depart-item:hover[b-12skg9xcaj]  span {
    transition: all ease-in-out 0.2s;
    color: #ffffff;
}

.depart-list .depart-item > span[b-12skg9xcaj] {
    color: #4f4f4f;
}
