@page "/admin/manager/signup"
@using FamTec.Client.Pages.Manager.Signup.Components

<div class="admin-signup-container">
    <div class="form">
        <SignForm />
    </div>
    <div class="place">
        <div class="placelist">
        </div>
        <div class="addlist">
        </div>
    </div>
    
</div>

@code {

}
