.admin-signup-container{
    display : flex;
    flex-direction : column;
    /*width : 100%;*/
    height : 100%;

    gap : 1.2rem;
}

.admin-signup-container .admin-signup-wrap{
    display:flex;
    gap:3rem;

    height : 100%;
    flex:1;
    overflow: hidden;
}

.admin-signup-container .btns{
    display :flex;
    justify-content:flex-end;
    gap : 0.5rem;
}

.admin-signup-container .form {
    flex:1;
    border : 2px solid #200d69;
    border-radius :4px;
    background-color : #ffffff;

    padding : 1rem;
}

.admin-signup-container .place{
    flex:1;
    border : 2px solid #200d69;
    border-radius :4px;
    background-color : #ffffff;

    padding : 1rem;
}

