@page "/voc/{Id:int}"

<div class="vocdetail-container">
    <div class="vocdetail-wrap">
        <div class="vocdetail-info">

        </div>
        <div class="vocdetail-comment">

        </div>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
}
