

<div class="modaldepart-container">
    <div class="modaldepart-wrap">
        <div class="modaldepart-title">
            <span>
                부서 편집
            </span>
        </div>
        <div class="modaldepart-body">
            <div class="modaldepart-list">
                <List />
            </div>
            <Button Name="삭제"/>
        </div>
        <div class="modaldepart-add">
            <span>부서 추가</span>
            <div class="modaldepart-input">
                <input type="text" />
                <Button Name="추가"/>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }

}
