/* /Pages/Manager/Components/Button.razor.rz.scp.css */

.btn[b-w6fy0rhyst] {
    width : 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #200d69;
}

    .btn:hover[b-w6fy0rhyst] {
        background-color: #3e269a
    }
/* /Pages/Manager/Components/Common/Input.razor.rz.scp.css */

.input-container[b-5me8bdej3g] {
    outline: none;
    width: auto;
    border: 2px solid #200d69;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #200d69;
    background-color:#ebe7fe
}

[b-5me8bdej3g]::placeholder {
    color: #200d69;
}
/* /Pages/Manager/Components/Common/ModalBack.razor.rz.scp.css */
.modal-background[b-npzoffmhhd] {
    z-index : 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: #a9a9a9b2
}
/* /Pages/Manager/Components/Department.razor.rz.scp.css */

.depart-container[b-uvfku1810y]{
    

    border : 2px solid #200d69;
    border-radius:4px;
    background-color:#ffffff;

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16), 0 10px 15px rgba(0, 0, 0, 0.23);
}

.depart-container .depart-wrap[b-uvfku1810y]{
    height: 100%;

    display : flex;
    flex-direction : column;
    padding : 0.8rem;
    gap : 0.5rem;
}

.depart-container .depart-title[b-uvfku1810y]{
    padding : 0.5rem;
    font-size : 1.2rem;
    font-weight : bold;
    border-bottom : 2px solid #200d69;
}

.depart-container .depart-title>span[b-uvfku1810y]{
    color : #200d69;
}

.depart-container .depart-list[b-uvfku1810y]{
    display : flex;
    flex-direction : column;
    gap : 0.5rem;

    height:100%;
}

.depart-container .depart-item[b-uvfku1810y]{
    padding:0.5rem;
    
    border-radius : 4px;

    font-size : 0.8rem;
    font-weight: bold;
}

.depart-container .depart-item:hover[b-uvfku1810y]{
    transition : all ease-in-out 0.2s;
    background-color : #200d69;
    
}

.depart-container .depart-item:hover[b-uvfku1810y]  span{
    transition : all ease-in-out 0.2s;
    color : #ffffff;
}

.depart-container .depart-item>span[b-uvfku1810y]{
    color : #4f4f4f;
}
/* /Pages/Manager/Components/DepartmentF/DepartmentList.razor.rz.scp.css */
.depart-list[b-12skg9xcaj] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
   
}

.depart-list .depart-item[b-12skg9xcaj] {
    display: flex;
    justify-content:space-between;
    width:100%;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.depart-list .depart-item:hover[b-12skg9xcaj] {
    transition: all ease-in-out 0.2s;
    background-color: #200d69;
}

.depart-list .depart-item:hover[b-12skg9xcaj]  span {
    transition: all ease-in-out 0.2s;
    color: #ffffff;
}

.depart-list .depart-item > span[b-12skg9xcaj] {
    color: #4f4f4f;
}
/* /Pages/Manager/Components/DepartmentF/ModalDepartment.razor.rz.scp.css */
.modaldepart-container[b-xefimz1kvm] {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: max-content;
    border-radius: 4px;
    gap: 1rem;
}

.modaldepart-container .modaldepart-wrap[b-xefimz1kvm] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    gap: 1.2rem;
    width: auto;
    padding: 1.2rem;
    border-radius: 4px;
    border: 4px solid #200d69;
    background-color: #ffffff;
}

.modaldepart-container .modaldepart-title>span[b-xefimz1kvm]{
    font-size: 1.1rem;
    font-weight: bold;
    color: #200d69;
}

.modaldepart-container .modaldepart-body[b-xefimz1kvm]{
    display : flex;
    flex-direction : column;
    gap : 0.5rem;
}

.modaldepart-container .modaldepart-list[b-xefimz1kvm] {
    border: 2px solid #200d69;
    border-radius: 4px;
    padding: 0.5rem;

    height : 300px;
    overflow :auto;
}

.modaldepart-container .modaldepart-btns[b-xefimz1kvm]{
    display:flex;
    gap : 0.5rem;
}


.modaldepart-container .modaldepart-add[b-xefimz1kvm]{
    display : flex;
    flex-direction : column;

    gap : 0.5rem;

    font-size : 1rem;
    font-weight : bold;
    
}

.modaldepart-container .modaldepart-add>span[b-xefimz1kvm]{
    color : #200d69;
}

.modaldepart-container .modaldepart-input[b-xefimz1kvm]{
    display:flex;
    gap : 0.5rem;
}
/* /Pages/Manager/Components/List.razor.rz.scp.css */
.list-container[b-4vs0aet7r2]{
    display:flex;
    flex-direction : column;
    gap:0.5rem;
    width:100%;
    /*height : 100%;*/
   
}


.list-item[b-4vs0aet7r2] {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content auto max-content;
    grid-template-areas: "img info checkbox";
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #200d69;
    float:left;
    background-color:#ffffff;
}


.list-item .item-img[b-4vs0aet7r2]{
    grid-area : img;
    place-self :center;

    padding : 0.25rem;
    border-radius:4px;

    width : max-content;
    height : max-content;

}

.list-item .item-info[b-4vs0aet7r2]{
    grid-area : info;
    place-self :center;

    display:flex;
    justify-content:space-between;
    align-items:center;

    width:100%;

}
.list-item .item-name[b-4vs0aet7r2]{
    display:flex;
    flex-direction:column;
}

.list-item .item-checkbox[b-4vs0aet7r2]{
    grid-area : checkbox;
    place-self :center;
}
/* /Pages/Manager/Components/ManagerList.razor.rz.scp.css */

.managerlist-container[b-2k2hzgyf46]{
    background-color:#ffffff;
    border:2px solid #200d69;
    border-radius:4px;
    height:100%;

    overflow : hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16), 0 10px 15px rgba(0, 0, 0, 0.23);
}


.managerlist-container .managerlist-wrap[b-2k2hzgyf46]{
    display:flex;
    flex-direction:column;
    gap : 0.5rem;

    height: 100%;
    padding : 0.8rem;

}

.managerlist-container .managerlist-header[b-2k2hzgyf46]{
    display :flex;
    justify-content : space-between;
    align-items:center;

    padding : 0.5rem;
    border-bottom : 2px solid #200d69;

}

.managerlist-container .managerlist-btns[b-2k2hzgyf46]{
    display : flex;
    gap : 0.5rem;
    
}

.managerlist-container .managerlist-header > span[b-2k2hzgyf46] {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    color: #200d69;
}

.managerlist-container .managerlist-list[b-2k2hzgyf46]{
    overflow : auto;

}
/* /Pages/Manager/Components/Table.razor.rz.scp.css */
.table-container[b-5ldung25r0] {
    width: 100%;
    /*border:2px solid #200d69;
    border-radius : 4px;*/
}
/*헤더 분리*/
/*.table-container .table-wrap{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}*/

.table-container .table[b-5ldung25r0]{
    table-layout:auto;
    width:100%;
    padding : 0.8rem;

}

.table-container .thead[b-5ldung25r0]{
    position: sticky;
    top:0;

    width:auto;
    box-shadow: 0 0px 20px #a1a1a1, 0 0px 20px #a1a1a1;
}
.table-container .thead-tr[b-5ldung25r0]{
    background-color:#200d69;
    border-radius: 4px;
}

.table-container .thead-th[b-5ldung25r0]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
    
}
/*
    테이블 헤더 둥글게
*/
.table-container .thead-th:first-child[b-5ldung25r0] {
    border-radius : 4px 0 0 4px;
}

.table-container .thead-th:last-child[b-5ldung25r0] {
    border-radius: 0 4px 4px 0;
}

.table-container .tbody[b-5ldung25r0]{
    overflow:auto;
    
}

.table-container .tbody-tr[b-5ldung25r0]{
    border-bottom : 1px solid #200d694a;
}

/*.table-container .tbody-tr:nth-last-of-type(n+2){
    border-bottom : 2px solid #200d694a;
}*/
.table-container .tbody-tr[b-5ldung25r0]{
    
}

.table-container .tbody-tr:hover td[b-5ldung25r0]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-5ldung25r0]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
/* /Pages/Manager/Manager.razor.rz.scp.css */

.grid-layout[b-kxhhxaxxqe] {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1.2rem;
}



/*
    부서
*/
.grid-layout .depart[b-kxhhxaxxqe]{
    display:grid;
    grid-column-start:1;
    grid-column-end:4;

    grid-row-start:3;
    grid-row-end:11;
}


/*
    매니저 리스트
*/
.grid-layout .managerlist[b-kxhhxaxxqe]{
    display:grid;
    grid-column-start:4;
    grid-column-end:16;

    grid-row-start:3;
    grid-row-end:11;
}
/* /Pages/Place/Components/AddModal.razor.rz.scp.css */

.placemodal-backgroud[b-nooberi9xj] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: #a9a9a9b2
}


.placemodal-backgroud .placemodal-container[b-nooberi9xj] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height:max-content;
    
    border-radius:4px;
    gap:1rem;
}

.placemodal-backgroud .placemodal-wrap[b-nooberi9xj] {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    gap: 1.2rem;
    width: auto;
    padding: 1.2rem;
    border-radius: 4px;
    border: 2px solid #200d69;

    background-color: #ffffff;
}

.placemodal-backgroud .placemodal-title[b-nooberi9xj] {
    font-size: 1.1rem;
    font-weight: bold;
    color: #200d69;
}


.placemodal-backgroud .placemodal-content[b-nooberi9xj] {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.placemodal-backgroud .modal-btn[b-nooberi9xj] {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #200d69;
    color: #ffffff;
}

.placemodal-backgroud .placemodal-form[b-nooberi9xj]{
    display : flex;
    gap : 1rem;
}

.placemodal-backgroud[b-nooberi9xj]  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.placemodal-backgroud .placemodal-toggle[b-nooberi9xj] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1rem;
}


.placemodal-backgroud .placemodal-manager[b-nooberi9xj] {
    height:250px;
    display: flex;
    flex-direction: column;
    border: 2px solid #200d69;
    border-radius: 4px;
    max-height: 300px;
}

.placemodal-backgroud .placemodal-m-header[b-nooberi9xj] {
    display: flex;
    justify-content: space-between;
    /*align-content: center;*/
    padding: 0.8rem;
    border-bottom: 2px solid #200d69;
}

.placemodal-backgroud .placemodal-m-title[b-nooberi9xj] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #200d69;
}

.placemodal-backgroud .placemodal-m-list[b-nooberi9xj]{
   overflow :auto;
   padding : 0.5rem;
}

.placemodal-backgroud .placemodal-btns[b-nooberi9xj]{
    width:100%;
    display:flex;
    gap:1.2rem;
}
/* /Pages/Place/Components/Button.razor.rz.scp.css */

.btn[b-4uel3ea6go] {
    /*height: 100%;*/
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight:bold;
    color: #ffffff;
    background-color: #200d69;
}
.width[b-4uel3ea6go]{
    width:100%;
}

.btn:hover[b-4uel3ea6go] {
    background-color: #3e269a
}
/* /Pages/Place/Components/Input.razor.rz.scp.css */

.input-container[b-uz0arryk9b] {
    outline: none;
    width: auto;
    border: 2px solid #200d69;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #200d69;
    background-color:#ebe7fe
}

[b-uz0arryk9b]::placeholder {
    color: #200d69;
}
/* /Pages/Place/Components/InputField.razor.rz.scp.css */
.inputfield-container[b-ttnj8zi7mu] {
    display: grid;
    /*grid-template-columns: auto max-content max-content;*/
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "label input";
    grid-gap: 1rem;
    width: 100%;
}

.inputfield-container .inputfield-label[b-ttnj8zi7mu]{
    
    grid-area:label;
    place-self: center;
    padding: 0.5rem 0 ;
     

    width : 100%;
    font-weight:bold;
    font-size:0.8rem;
    white-space:nowrap;
}


.inputfield-container .inputfield-input[b-ttnj8zi7mu]{
    grid-area : input;
    place-self: center;

    width : 100%;
    padding : 1rem 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #c6c6c6;
}

.inputfield-container .inputfield-input:focus[b-ttnj8zi7mu]{
    border-bottom: 2px solid #200d69;
}

.inputfield-container .btn[b-ttnj8zi7mu]{
    grid-area: btn ;

    font-size: 0.7rem;
    background-color: #200d69;
    color: #ffffff;
    
    border: none;
    border-radius: 4px;
    padding: 0 0.5rem;;
}

.inputfield-container .btn:hover[b-ttnj8zi7mu]{
    background-color: #3e269a;
}

/* /Pages/Place/Components/List.razor.rz.scp.css */
.list-container[b-nmmoxrmmox]{
    display:flex;
    flex-direction : column;
    gap:0.5rem;
    width:100%;
    /*height : 100%;*/
   
}


.list-item[b-nmmoxrmmox] {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content auto max-content;
    grid-template-areas: "img info checkbox";
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #200d69;
    float:left;
    background-color:#ffffff;
}


.list-item .item-img[b-nmmoxrmmox]{
    grid-area : img;
    place-self :center;

    padding : 0.25rem;
    border-radius:4px;

    width : max-content;
    height : max-content;

}

.list-item .item-info[b-nmmoxrmmox]{
    grid-area : info;
    place-self :center;

    display:flex;
    justify-content:space-between;
    align-items:center;

    width:100%;

}
.list-item .item-name[b-nmmoxrmmox]{
    display:flex;
    flex-direction:column;
}

.list-item .item-checkbox[b-nmmoxrmmox]{
    grid-area : checkbox;
    place-self :center;
}
/* /Pages/Place/Components/SearchManagerModal.razor.rz.scp.css */

.addmanager-modal-container[b-efhhydlwqt] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    /*height: 700px;*/
    background-color: white;
    border-radius: 4px;
    border: 2px solid #200d69;
    transition: all 0.5s ease-in-out;
}

.addmanager-modal-container .addmanager-modal-wrap[b-efhhydlwqt]{
    display : flex;
    flex-direction : column;
    justify-content:space-between;
    /*align-items:center;*/

    gap : 1.2rem;

    width:100%;
    height:100%;
    padding : 1.2rem;

    
}

.addmanager-modal-container .addmanager-modal-content[b-efhhydlwqt]{
    display:flex;
    height:100%;
    flex-direction:column;
    gap:1rem;

    overflow:auto;
}

.addmanager-modal-container .addmanager-modal-item[b-efhhydlwqt]{
    padding:0.5rem;
    height:500px;
    max-height:500px;
    border-radius:4px;
    border : 2px solid #200d69;
    overflow: auto;
    
}

.addmanager-modal-container .addmanager-modal-title[b-efhhydlwqt]{
    font-size : 1.1rem;
    font-weight : bold;
    color : #200d69;

}

.addmanager-modal-container .addmanager-modal-btn[b-efhhydlwqt] {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;

    font-size: 0.8rem;
    font-weight: bold;
    background-color: #200d69;
    color: #ffffff;
}
/* /Pages/Place/Components/Table.razor.rz.scp.css */
.table-container[b-650edo8kke] {
    overflow: auto;
    width: 100%;
    /*border:2px solid #200d69;
    border-radius : 4px;*/
}
/*헤더 분리*/
/*.table-container .table-wrap{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}*/

.table-container .table[b-650edo8kke]{
    table-layout:auto;
    width:100%;
    padding : 0.8rem;

    
}

.table-container .thead[b-650edo8kke]{
    position: sticky;
    top:0;

    width:auto;
}
.table-container .thead-tr[b-650edo8kke]{
    background-color:#200d69;
}

.table-container .thead-th[b-650edo8kke]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
}

.table-container .tbody[b-650edo8kke]{
    
    
}

.table-container .tbody-tr[b-650edo8kke]{
    border-bottom : 1px solid #200d694a;
}

/*.table-container .tbody-tr:nth-last-of-type(n+2){
    border-bottom : 2px solid #200d694a;
}*/
.table-container .tbody-tr[b-650edo8kke]{
    
}

.table-container .tbody-tr:hover td[b-650edo8kke]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-650edo8kke]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
/* /Pages/Place/Components/Tableheaderbody.razor.rz.scp.css */
.table-container[b-8a2rucpdog] {
    display: flex;

    width:100%;
    border:2px solid #200d69;
    border-radius : 4px;
}

.table-container .table-wrap[b-8a2rucpdog]{
    display:flex;
    flex-direction:column;

    width:100%;

}


.table-container .table-header[b-8a2rucpdog]{
    display:flex;
    justify-content:space-between;
    align-content:center;

    padding : 0.8rem;
    border-bottom : 2px solid #200d69;

}


.table-container .table-header-title[b-8a2rucpdog]{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.2rem;
    font-weight:bold;
    color:#200d69;
}

.table-container .table[b-8a2rucpdog]{
    table-layout:fixed;
    width:100%;
    padding : 0.8rem;
}


.table-container .thead-tr[b-8a2rucpdog]{
    background-color:#200d69;
    
}

.table-container .thead-th[b-8a2rucpdog]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
}


.table-container .tbody-tr:nth-last-of-type(n+2)[b-8a2rucpdog]{
    border-bottom : 2px solid #200d694a;
}

.table-container .tbody-tr[b-8a2rucpdog]{
    
}

.table-container .tbody-tr:hover td[b-8a2rucpdog]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-8a2rucpdog]{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
/* /Pages/Place/Components/Toggle.razor.rz.scp.css */
.toggle-container[b-3qlsyjqydk] {
    display : inline-flex;
    align-items :center;
    gap : 0.5rem;
    cursor : pointer;
    white-space:nowrap;
}

[type="checkbox"][b-3qlsyjqydk]{
    appearance:none;
    position:relative;
    border : max(2px, 0.1em) solid gray;
    border-radius: 1.25rem;
    width : 2.25em;
    height : 1.25em;
}
[type="checkbox"][b-3qlsyjqydk]::before{
    content:"";
    position:absolute;
    left:0;
    width : 1em;
    height: 1em;
    border-radius:50%;
    transform: scale(0.8);
    background-color:gray;
    transition:left 250ms linear;
    
}

[type="checkbox"]:checked[b-3qlsyjqydk] {
  background-color: #200d69;
  border-color : #200d69;
}

[type="checkbox"]:checked[b-3qlsyjqydk]::before {
  background-color: #ffffff;
  left:1em;
}

[type="checkbox"]:disabled[b-3qlsyjqydk] {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled[b-3qlsyjqydk]:before {
  background-color: #200d69a6;
}

[type="checkbox"]:enabled:hover[b-3qlsyjqydk] {
  box-shadow: 0 0 0 max(4px, 0.2em) #200d6967;
}

[type="checkbox"]:disabled + .toggle-title[b-3qlsyjqydk] {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle-container span[b-3qlsyjqydk] {
    font-size : 0.8rem;
    font-weight : bold;
}
/* /Pages/Place/Place.razor.rz.scp.css */
.place-container[b-07vnvgmtv7]{
    background-color:#ffffff;
 
}

.place-container .place-table1-wrap[b-07vnvgmtv7] {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #200d69;
    border-radius: 4px;
    height:800px;

     box-shadow: 0 10px 15px rgba(0,0,0,0.16), 0 10px 15px rgba(0,0,0,0.23);
    
}

.place-container .table-header[b-07vnvgmtv7] {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.8rem;
    border-bottom: 2px solid #200d69;
}

.place-container .table-header-title[b-07vnvgmtv7] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #200d69;
}
/* /Shared/Drawer.razor.rz.scp.css */
.drawer-container[b-rriyx9tl3w] {
    min-width: min-content;
    width: 20%;
    border-right: 1px solid #d3d3d3;
}

.drawer-container .drawer-wrap[b-rriyx9tl3w] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}


.drawer-container .drawer-item[b-rriyx9tl3w] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

    /* .drawer-container .drawer-item:hover {
    border-radius: 4px;
    background-color: #200d69;
    

    & span{
        color: #ffffff;
    }

    & ::deep .drawer-link{
        color: white;
    }
    
} */

.drawer-container[b-rriyx9tl3w]  .drawer-link {
    display: flex;
    width: auto;
    height: 100%;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1rem;
}

.drawer-container[b-rriyx9tl3w]  .drawer-link > span {
    width: max-content;
}

.drawer-container[b-rriyx9tl3w]  .drawer-link:hover {
    border-radius: 4px;
    background-color: #200d69;
    color: white;
    & span{
            transition: all 0.3s;
            color: #ffffff;
        }

    }

.drawer-container .arrow[b-rriyx9tl3w] {
    width: min-content;
}

.drawer-container .title[b-rriyx9tl3w] {
    flex-grow: 1;
}

/*하위 메뉴*/

.drawer-container .drawer-sub-wrap[b-rriyx9tl3w] {
    display: none;
}

.drawer-container .active[b-rriyx9tl3w] {
    display: block;
    transition: all 2s;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-7s48qd2tqg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7s48qd2tqg] {
    display:flex;
    width:100%;
    height:100%;

}

.content[b-7s48qd2tqg] {
    width: 100%;
    padding: 1.2rem 2rem;
    background-color:#ebebeb;
}

/*.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/
/* /Shared/Nav.razor.rz.scp.css */

.nav-container[b-wg5fiaa4ah] {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto max-content;
    grid-template-areas: "logo ctrl tab";
    padding: 0.5rem 2rem;
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid #d3d3d3;
    color: black;
    font-weight: bold;
    /*box-shadow: 3px 3px 8px 0px rgb(201, 201, 201);*/
    position: sticky;
}

/* nav logo */

.nav-container .nav-logo[b-wg5fiaa4ah] {
    grid-area: logo;
    place-self: center;
    margin-right: 1rem;
    /*padding: 0.25rem;*/
    border-radius: 5px;
    color: #00cc8f;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-container[b-wg5fiaa4ah]  .active {
    display: flex;
    align-items: center;
}

.nav-container .nav-logo img[b-wg5fiaa4ah] {
    width: 150px;
}

/* nav ctrl-btn */
.nav-container .nav-ctrl[b-wg5fiaa4ah] {
    grid-area: ctrl;
    place-self: center;
}


.nav-container .nav-ctrl-wrap[b-wg5fiaa4ah] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2rem;
    padding: 0.5rem;
}

.nav-container .nav-ctrl-item[b-wg5fiaa4ah] {
}

.nav-container .nav-ctrl-item button[b-wg5fiaa4ah] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    &:hover

{
    background-color: #d3d3d3;
}

}


/* nav tab */

.nav-container .nav-tab[b-wg5fiaa4ah] {
    grid-area: tab;
    place-self: center end;
}

.nav-container .nav-tab-wrap[b-wg5fiaa4ah] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2rem;
    font-size: 0.9rem;
    color: black
}

.nav-container .nav-tab-wrap .nav-tab-link[b-wg5fiaa4ah] {
    color: black;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wqqoxqzzwa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-wqqoxqzzwa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wqqoxqzzwa] {
    font-size: 1.1rem;
}

.oi[b-wqqoxqzzwa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-wqqoxqzzwa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wqqoxqzzwa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wqqoxqzzwa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wqqoxqzzwa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-wqqoxqzzwa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-wqqoxqzzwa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wqqoxqzzwa] {
        display: none;
    }

    .collapse[b-wqqoxqzzwa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-wqqoxqzzwa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
