.placetoggle-container[b-pzhayuyjkk] {
    display: flex;
    flex-direction: column;
    border: 2px solid #200d69;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 1rem;
    height: 100%;
}


.placetoggle-container .placetoggle-title[b-pzhayuyjkk]{
    font-size:1.2rem;
    font-weight:bold;
    padding: 1rem;
    border-bottom: 2px solid #200d69;
}
.placetoggle-container .placetoggle-title>span[b-pzhayuyjkk]{
    color:#200d69;
}

.placetoggle-container .placetoggle-toggle[b-pzhayuyjkk]{
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    gap:1rem;
    padding : 1rem;

}