@using FamTec.Client.Pages.Place.Components

<div class="form-container">
    <div class="form-title">
        <span>매니저 정보</span>
    </div>
    <div class="form-input">
        <div class="form-input-wrap">
            <InputField  
            InputType="text" 
            Placeholder="Id"
            Label="아이디"
            />
        <InputField 
            InputType="password" 
            Placeholder="Password"
            Label="비밀번호"
            />
        <InputField 
            InputType="password" 
            Placeholder="Password Check"
            Label="비밀번호 확인"
            />
        <InputField 
            InputType="text" 
            Placeholder="Name"
            Label="이름"
            />
        <InputField 
            InputType="text" 
            Placeholder="Phone"
            Label="전화번호"
            />
        <InputField 
            InputType="text" 
            Placeholder="Email"
            Label="이메일"
            />
        <InputField 
            InputType="text"
            Placeholder="Type"
            Label="계정 유형" 
            />
        <InputField 
            InputType="text"
            Placeholder="Type"
            Label="부서" 
            />
        </div>
        
    </div>
    
</div>

@code {

}
